*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
}
.container{
    margin: 0px auto;
    width: 100%;
    max-width: 1440px;
    height: 100vh;
    margin: 0px auto;
    margin: 0px;
}

header{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(images/desktop/image-header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;

    nav{
        display: flex;
        justify-content: space-between;
        height: 100px;
        align-items: center;

        #logo{
            margin-left: 50px;
            width: 150px;
            align-items: center;
        }

        .leftNav{
            width: 400px;
            display: flex;
            justify-content: space-between;
            height: 100px;
            align-items: center;
            /* margin-right: 50px; */
            font-family: "Barlow";
            
            a{
                text-decoration: none;
                color: white;
                font-size: 15px;
            }

            button{
                padding: 5px;
                border-radius: 40px;
                width: 100px;
                border: none;
                color: black;
                font-weight: bolder;
                font-size: 13px;
                font-family: "Fraunces";
            }

        }
    }
    h1{
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        color: white;
        font-family: "Fraunces";
        text-align: center;
        font-weight:900;
        font-size: 2.5em;
        letter-spacing: 10px;
        margin-top: 50px;
        margin-bottom: 0px;
        display: block;

    }
    #headarrow{
        height: 70px;
        display: block;
        margin: 100px auto 0px;
    }
}

.content{
    display: grid;
    grid-template-columns: 1fr 1fr;

    img{
        width: 100%;
        height: 100%;
    }

    #text{
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: flex-start;
        font-family: "Fraunces";
        margin: 0px auto;

        h1{
            font-size: 20px;
        }

        p{
            font-size: 15px;
            line-height: 25px;
            margin-bottom: 50px;
            color: rgb(129,129,129);
        }
    }
    button{
        background-color: transparent;
        border: none;
        font-size: 13px;
        font-weight: 600;
        font-family: "Fraunces";
        box-shadow: 0px  3px 0px 0px  yellow;
    }

    #fruit img{
        /* height: 600px; */
        position: relative;
        width: 100%;
        /* margin-bottom: 0px; */
        
    }
    #fruit #writeup{
        font-family: "Fraunces";
        font-size: 15px;
        position: absolute;
        top:4200px;
        text-align: center;
        line-height: 20px;
        color: rgb(51,121,107);
  
    }
    #fruittwo img{
        /* height: 600px; */
        position: relative;
        /* width: 100%; */


        #writeuptwo{
            font-family: "Fraunces";
            font-size: 15px;
            position: absolute;
            top:380px;
            left:180px;
            text-align: center;
            line-height: 20px;
            color: rgb(51,121,107);
        }
    }
}
section{

    margin: 0px;
    h3{
        text-align: center;
        margin-top: 50px;
        margin-bottom: 100px;
        font-size: 1.5em;
        letter-spacing: 10px;
        font-family: "Fraunces";
        color: rgb(168,171,174);
    }

    .testimonials{
        display: flex;
        justify-content: space-around;
        align-items: center;

        #client{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 16px;
            font-family: "Fraunces";
        }

        img{
            border-radius: 50%;
            width: 70px;
            margin-bottom: 50px;
        }

        p{
            text-align: center;
            margin-top: 0px;
            margin-bottom: 30px;
            line-height: 20px;
            text-align: center;
            font-size: 15px;
            color: rgb(168,171,174);
        }

        b{
            font-size: 12px;
            text-align: center;
            line-height: 30px;
            color: rgb(168,171,174);

        }
    }
}
footer{
    margin-top: 50px;
   
}
.footImages{
    display: flex;
    justify-content: space-around;
    margin: 0px;
    

    img{
        margin: 0px ;
        width: 100%;
    }
}
.socialMedia{
    height: 200px;
    background-color: rgb(144,212,197);
    margin-top: -4px;

    #socialMediaLogo{
        display: flex;
        justify-content: center;
        
        img{
            margin-top: 40px;
        }
    }

  .socialMediaLinks{
    text-align: center;
    width: 25%;
    margin: 20px auto 0px;
    display: flex;
    justify-content: space-around;

    a{
        text-decoration: none;
        color: rgb(51,121,107);
        margin-top: 10px;
        align-items: center;
    }
  }

    .socialMediaImgs{
        width: 15%;
        display: flex;
        margin: 20px auto 50px;
        justify-content: space-between;

        img{
            width: 15px;
        }
    }
}

@media screen and (min-width:0px){

    header nav #logo{
        width: 100px;
        margin-left: 20px;
    }
    header nav #hamburger{
        display: block;
        margin-right: 20px;
    }
    header nav {
        justify-content: space-between;
    }
    header nav .leftNav{
        display: none;
    }
    header #desktop{
        display: none;
    }
    header #headarrow{
        margin-top: 40px;
    }
    .content #eggdesktop{
        display: none;
    }
    .content{
        display: block;
    }

    .content #fruit{
        margin-bottom: -5px;
    }
    .content #text h1{
        width: 100%;
        text-align: center;
        margin: 50px auto;
        font-size: 30px;
    }
    .content #text p{
        margin: 0px auto;
        text-align: center;
        margin-bottom: 50px;
        font-size: 18px;
        line-height: 30px;
    }
    .content button{
        text-align: center;
        margin: 0px auto 50px;
        font-size: 18px;
    }
    section .testimonials{
        display: block;
    }

    section #client img{
        margin-top: 20px
    }

    section h3{
        font-size: 20px;
    }

    footer .footImages {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    footer .footImages #ftop{
        margin-bottom: -4px;
    }

    .socialMedia .socialMediaLinks{
        width: 300px;
    }
    .socialMedia .socialMediaImgs{
        width: 150px;
    }
}
@media screen and (min-width:481px) {
    
    header nav .leftNav{
        display: flex;
        width: 300px;
        margin-right: 20px;
    }

    header nav #hamburger{
        display: none;
    }
    .content #text p{
        margin: 0px auto;
        text-align: center;
        margin-bottom: 50px;
        font-size: 20px;
        line-height: 35px;
    }

    .content #fruit{
        margin-bottom: -5px;
    }
    .content button{
        text-align: center;
        margin: 0px auto 50px;
        font-size: 20px;
    }

    section h3{
        font-size: 30px;
        margin-top: 30px;
    }
}
@media screen and (min-width:769px) {
    header #desktop{
        display: block;
    }

    header nav{
        justify-content: space-b;
    }

    header nav #logo{
      width: 100px;
      margin-left: 50px;
    }

    header #mediahidden{
        display: none;
    }
    header #headarrow{
        margin-top: 100px;
    }
      header nav .leftNav{
        display: flex;
        margin-right: 50px;
        width: 400px;
    }
     header nav #hamburger{
        display: none;
    }

    .content{
        display: grid;
    }
    .content #eggdesktop{
        display: flex;
    }

    .content #eggmobile{
        display: none;
    }
    section .testimonials{
        display: flex;
    }
    footer .footImages {
        display: grid;
        grid-template-columns:1fr 1fr 1fr 1fr;
    }
    
    .content #text h1{
        width: 100%;
        text-align: start;
        margin: 50px auto;
        font-size: 20px;
    }
    .content #text p{
        margin: 0px auto;
        text-align: start;
        margin-bottom: 50px;
        font-size: 16px;
        line-height: 25px;
    }
    .content button{
        text-align: center;
        margin: 0px auto 50px;
        font-size: 16px;
    }

}
